link(rel="stylesheet", href="{$ROOT}/view/css/nav/top.css")

div.nav-top-container
    div.container-limited
        div.nav-top-logo
            a(ng-href="/#/") LWOT
        ul.nav-top-list
            li
                a(ng-href="/#/") Docs
            li
                a(ng-href="/#/") Support
            li
                a(ng-href="/#/signin") Sign Up/In