doctype html
html(ng-app="lwotOrg")
    head
        include components/jade/header
        script(src="{$ROOT}/view/js/index.js")
        script(src="{$ROOT}/view/js/main.js")
        script(src="{$ROOT}/view/js/users/signin.js")
        script(src="{$ROOT}/view/js/users/signup.js")

    body
        include view/jade/nav/top
        ng-view